/* Grundlegendes Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #002d4f;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px; 
    text-align: center;
    color: white;
    height: 100vh;
    margin: 0;
    background: var(--bg);
    place-items: center;
}

h1 {
    color: white;
    font-size: 2em;
    padding-top: 60px;
    padding-bottom: 70px;
    animation: stromschwankungFlackern 2s infinite;
    text-shadow:
    0 0 5px #002d4f,
    0 0 15px #002d4f,
    0 0 20px #002d4f,
    0 0 40px #002d4f,
    0 0 60px #0074cc,
    0 0 10px #009be8,
    0 0 98px #0074cc;
}

h1:hover {
    color: #009be8;
}

button:hover {
    background-color: #009be8;
    color: #fff;
    transform: scale(1.1);
}

li {
    background-color: #333333;
    padding-left: 40px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.251);
}

button {
    background-color: #0074cc;
    color: white;
    padding: 10px 20px;
    margin: 2px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1em;
    align-content: center;
    text-shadow:
    0 0 5px #002d4f,
    0 0 15px #002d4f,
    0 0 20px #002d4f,
    0 0 40px #002d4f,
    0 0 60px #0074cc;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.251);
}

li:hover {
    color: #009be8;
}

input {
    padding: 10px;
    margin: 40px 0;
    width: 50%;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.251);
}

.timestamp {
    margin-left: 40px;
    padding-right: 40px;
    padding-left: 40px;
    align-items: center;
}

.timestamp, button {
    margin-left: 20px;
}

.aufgabe {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
    word-wrap: break-word;
    margin-right: 40px;
    flex-grow: 1;
}

span {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20px;
    height: 20px;
    background: var(--c1);
    border-radius: 50%;
    animation:
      anim 2s var(--d) ease-out infinite;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 10px;
    padding-bottom: 40px;
}

#result-container {
    background-color: #333333;
    padding-left: 20px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container {
    margin: 20px 10px 40px;
    background-color: rgba(0, 180, 250, 0.18); /* Hintergrundfarbe des Containers */
    border-radius: 200px 280px 20px 20px; /* Abgerundete Ecken */
    min-height: 35vh;
    box-shadow: 0 8px 8px rgba(3, 3, 3, 0.34); /* Leichter Schatten für Tiefe */
    padding: 20px 20px;
}

@keyframes anim {
    0% {
        box-shadow:
          0 0 8px 6px #1affb300,
          0 0 0px 0px var(--bg),
          0 0 0px 0px #1affb300;
    }

    10% {
        box-shadow:
          0 0 8px 6px var(--c2),
          0 0 12px 10px var(--bg),
          0 0 12px 14px var(--c2);
    }

    100% {
        box-shadow:
          0 0 8px 6px #1affb300,
          0 0 0px 40px var(--bg),
          0 0 0px 40px #1affb300
    }
}

@keyframes stromschwankungFlackern {
    0%, 100% { opacity: 1; }
    10% { opacity: 0.9; }
    20% { opacity: 1; }
    30% { opacity: 0.7; }
    40% { opacity: 1; }
    50% { opacity: 0.5; }
    60% { opacity: 1; }
    70% { opacity: 0.6; }
    80% { opacity: 1; }
    90% { opacity: 0.8; }
}